<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  color: red;
  text-align: center;
}
</style>
<div class="footer">
    <a href="https://opensource.org/licenses/MIT" class="uri"><img src="../grafics/license_mit.svg" alt="Logo MIT" width="66" height="22" align="right" Hspace="2" Vspace="10"></a> <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ca" class="uri"><img src="apunts_peu_cc-by-sa.png" alt="Logo CC-BY-SA" width="66" height="22" align="right" Hspace="2" Vspace="10"></a><br/>
</div>