code {
    white-space: pre;
    color: DarkBlue;
}

a:link {
  color: purple; /* unvisited link */
}

a:visited {
  color: purple; /* visited link */
}

.col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
}

.col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
}

.col3-left{
  float: left;
  width: 33%;
  text-align: left;
}
.col3-center{
  display: inline-block;
  width: 33%;
  text-align: left;
}
.col3-right{
  float: right;
  width: 33%;
  text-align: left;
}

.col2-left{
  float: left;
  width: 48%;
  text-align: left;
}
.col2-center{
  display: inline-block;
  width: 4%;
}
.col2-right{
  float: right;
  width: 48%;
  text-align: left;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.outline {
   background-color: #9ecff7;
   padding:10px;
   display: inline-block;
}